html, body {
/*  
  height: 100%;
  width: 100%;
*/
  background-color: #565665;
  color: FloralWhite;
}

h1, h2 {
  color: FloralWhite;
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

#map, .mapSettings{
  position: relative;
  overflow: hidden;
  width: 50%;
  margin: auto;
}

#actualMap  {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}